aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
alembic==1.18.4
altair==5.5.0
annotated-types==0.7.0
anyio==4.13.0
asttokens==3.0.1
attrs==25.4.0
bleach==6.3.0
catboost==1.2.10
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
colorlog==6.10.1
contourpy==1.3.3
cycler==0.12.1
dataclasses-json==0.6.7
decorator==5.2.1
distro==1.9.0
dotenv==0.9.9
et_xmlfile==2.0.0
executing==2.2.1
fonttools==4.60.1
frozenlist==1.8.0
graphviz==0.21
greenlet==3.4.0
groq==0.37.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
idna==3.11
ipython==9.11.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kaggle==2.0.0
kagglehub==0.4.0
kagglesdk==0.1.16
kiwisolver==1.4.9
koreanize-matplotlib==0.1.1
langchain-classic==1.0.4
langchain-community==0.4.1
langchain-core==1.3.2
langchain-groq==1.1.2
langchain-protocol==0.0.14
langchain-text-splitters==1.1.2
langsmith==0.7.38
lightgbm==4.6.0
Mako==1.3.11
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
matplotlib-inline==0.2.1
mlxtend==0.24.0
multidict==6.7.1
mypy_extensions==1.1.0
narwhals==2.13.0
nltk==3.9.2
numpy==2.3.5
openpyxl==3.1.5
optuna==4.8.0
orjson==3.11.8
packaging==25.0
pandas==2.3.3
parso==0.8.6
pillow==12.0.0
plotly==6.7.0
prince==0.16.2
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.4
pure_eval==0.2.3
pydantic==2.13.3
pydantic-settings==2.14.0
pydantic_core==2.46.3
Pygments==2.19.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-slugify==8.0.4
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-toolbelt==1.0.0
rpds-py==0.30.0
scikit-learn==1.8.0
scipy==1.16.3
seaborn==0.13.2
six==1.17.0
sklearn-preprocessing==0.1.0
sniffio==1.3.1
SQLAlchemy==2.0.49
stack-data==0.6.3
teddynote==0.2.1
tenacity==9.1.4
text-unidecode==1.3
threadpoolctl==3.6.0
tqdm==4.67.1
traitlets==5.14.3
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.3
uuid_utils==0.14.1
wcwidth==0.6.0
webencodings==0.5.1
wordcloud==1.9.4
xgboost==3.2.0
xxhash==3.7.0
yarl==1.23.0
zstandard==0.25.0
